@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Hanken Grotesk", sans-serif;
  padding: 20px 150px 20px 150px;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  gap: 30px;
}
.header_div {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  margin-bottom: 70px;
}
.header_p_box {
  background-color: #e8eff2;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tm_icon {
  height: 20px;
  width: 20px;
}

.header_p {
  font-size: 16px;
  font-weight: 700px;
  color: #162542;
}

.first_div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.typemaster {
  font-size: 56px;
  font-weight: 900;
  color: #162542;
}

.typemaster_text {
  color: #7b8bad;
  font-size: 18px;
  font-weight: 500;
}

.preodrer_release_box {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.nd_preorder {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #f16718;
  padding: 12px;
  border-radius: 8px;
}

.release_p {
  font-size: 16px;
  font-weight: 700;
  color: #7b8bad;
}

.keyboard_img {
  max-width: 540px;
  max-height: 480px;
}

.first_main_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 286px;
}

.second_div {
  display: flex;
  gap: 20px;
  width: 100%;
}

.second_div_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}

.mechanical_h1 {
  font-size: 32px;
  color: #162542;
  font-weight: 900;
  line-height: 36px;
}

.mechanical_p {
  font-size: 16px;
  color: #7b8bad;
  font-weight: 500;
}

.third_div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 80px;
  width: 100%;
}

.icon {
  max-width: 65px;
  max-height: 65px;
}

.third_h1 {
  font-size: 24px;
  font-weight: 900;
  color: #162542;
}

.third_p {
  color: #7b8bad;
  font-size: 16px;
  line-height: 26px;
}

.last_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.footer_p {
  color: #7b8bad;
  font-size: 16px;
  font-weight: 700;
  padding-top: 80px;
}

span {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .third_div {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .first_div {
    flex-wrap: wrap;
  }
  body {
   align-items: center; 
   overflow-x: hidden;
  }
  .last_box {
    align-items: center;
  }

  .third_div {
    align-items: center;
    flex-direction: column;
  }
  .third_h1 {
    text-align: center;
  }
  .third_p {
    width: 100%;
    text-align: center;
  }

  body {
    padding: 0;
  }

  .footer_p {
    padding-bottom: 10px;
  }

  .second_div {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

 .second_div_second_img {
width: 220px;
height: 193px;
  }
.second_div_first_img {
    width: 129px;
    height: 193px;
}
  
.keyboard_img {
    width: 372px;
    height: 331px;
}

}
