@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Hanken Grotesk", sans-serif;
  padding: 20px 150px 20px 150px;
  align-items: center;
  max-width: 1440px;
  overflow-x: hidden;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}
.header_div {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  margin-bottom: 70px;
  align-items: center;
}
.header_p_box {
  background-color: #e8eff2;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tm_icon {
  height: 20px;
  width: 20px;
}

.header_p {
  font-size: 16px;
  font-weight: 700px;
  color: #162542;
}

.first_div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.typemaster {
  font-size: 56px;
  font-weight: 900;
  color: #162542;
}

.typemaster_text {
  color: #7b8bad;
  font-size: 18px;
  font-weight: 500;
}

.preodrer_release_box {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.nd_preorder {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #f16718;
  padding: 12px;
  border-radius: 8px;
}

.release_p {
  font-size: 16px;
  font-weight: 700;
  color: #7b8bad;
}

.keyboard_img {
  width: 100%;
  height: 100%;
}

.img_box {
  max-width: 540px;
  max-height: 480px;
}

.first_main_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 286px;
}

.second_div {
  display: flex;
  gap: 20px;
  width: 100%;
}

.second_div_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}

.photo_div {
  display: flex;
  gap: 20px;
}
.mechanical_h1 {
  font-size: 32px;
  color: #162542;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
}

.mechanical_p {
  font-size: 16px;
  color: #7b8bad;
  font-weight: 500;
  text-align: center;
}

.bitmap_div {
  max-width: 245px;
  max-height: 400px;
}

.second_img_box {
  max-width: 445px;
  max-height: 400px;
}

.second_div_second_img {
  width: 100%;
  height: 100%;
}
.second_div_first_img {
  width: 100%;
  height: 100%;
}

.third_div {
  display: flex;
  gap: 20px;
  padding-top: 80px;
  width: 100%;
}

.icon {
  max-width: 65px;
  max-height: 65px;
}

.third_h1 {
  font-size: 24px;
  font-weight: 900;
  color: #162542;
}

.third_p {
  color: #7b8bad;
  font-size: 16px;
  line-height: 26px;
}

.last_box1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.last_box2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.last_box3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.last_box4 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.footer_p {
  color: #7b8bad;
  font-size: 16px;
  font-weight: 700;
  padding-top: 80px;
}

span {
  font-weight: 500;
}

@media (min-width: 480px) and (max-width: 768px) {
  .first_div {
    gap: 20px;
  }

  .second_div {
    flex-wrap: wrap;
  }
  .second_div_text_box {
    flex-direction: row;
    gap: 74px;
    width: 100%;
    padding: 0;
  }
  body {
    padding: 40px;
  }

  .third_div {
    flex-wrap: wrap;
    display: grid;
    grid-template-areas:
      "1 2"
      "3 4";
  }

  .last_box1 {
    grid-area: 1;
  }
  .last_box2 {
    grid-area: 2;
  }
  .last_box3 {
    grid-area: 3;
  }
  .last_box4 {
    grid-area: 4;
  }
}

@media screen and (max-width: 480px) {
  .first_div {
    flex-wrap: wrap;
    justify-content: center;
  }
  body {
    align-items: center;
    overflow-x: hidden;
  }
  .last_box1 {
    align-items: center;
  }
  .last_box2 {
    align-items: center;
  }
  .last_box3 {
    align-items: center;
  }

  .last_box4 {
    align-items: center;
  }

  .third_div {
    align-items: center;
    flex-direction: column;
  }
  .third_h1 {
    text-align: center;
  }
  .third_p {
    width: 100%;
    text-align: center;
  }

  body {
    padding: 20px 5px 20px 5px;
  }

  .footer_p {
    padding-bottom: 10px;
  }

  .second_div {
    flex-wrap: wrap;
  }

  /* .second_div_second_img {
    width: 220px;
    height: 193px;
  }
  .second_div_first_img {
    width: 129px;
    height: 193px;
  } */

  .keyboard_img {
    width: 372px;
    height: 331px;
    margin: 40px auto 0 auto;
  }
  .first_main_div {
    margin-bottom: 20px;
  }

  .second_div_text_box {
    padding: 0;
  }

  .mechanical_h1 {
    text-align: center;
  }

  .mechanical_p {
    text-align: center;
  }

  .photo_div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .preodrer_release_box {
    justify-content: center;
    gap: 60px;
    padding-top: 20px;
  }
}
